*{
    font-family: 'Lato', sans-serif;
}
html{
    background-color: rgba(14, 55, 91, 0.732);
}
.characters{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.container{
    padding: 5px;
    margin: 5px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.8);
}
.image img{
    height: 220px;
}